<div class="jumbotron text-center">
  <h1 class="display-3">Teaching Blockchain Concepts</h1>
  <p class="lead">Brick House is a small application aimed at breaking down the elements that make up the block-chain ecosystem into small, understandable concepts.</p>
  <button md-raised-button color="primary">Get Started</button>
</div>

<md-grid-list cols="2">
  <md-grid-tile>
    Asymmetric Encryption
  </md-grid-tile>
  <md-grid-list>
    description
  </md-grid-list>
  <md-grid-tile>
    Asymmetric Encryption
  </md-grid-tile>
  <md-grid-list>
    description
  </md-grid-list>
  <md-grid-tile>
    Asymmetric Encryption
  </md-grid-tile>
  <md-grid-list>
    description
  </md-grid-list>
</md-grid-list>
