<div class="jumbotron text-center">
  <h1 class="display-3">Teaching Blockchain Concepts</h1>
  <p class="lead">Brick House is a small application aimed at breaking down the elements that make up the block-chain ecosystem into small, understandable concepts. Each concept has a section that includes a small online exercise to reinforce those concepts.  Linking these concepts together will provide an overview of the underlying functions that make blockchain technology like BitCoin or Ethereum work.</p>
  <button md-raised-button color="primary">Get Started</button>
</div>

<div class="row text-center">
  <div class="col-md-4 col-sm-12 mtb15">
    <h4>Asymetric Encryption</h4>
    <p>This is the description</p>
  </div>
  <div class="col-md-4 col-sm-12 mtb15">
    <h4>Digital Signatures</h4>
    <p>This is the description</p>
  </div>
  <div class="col-md-4 col-sm-12 mtb15">
    <h4>Individual Transactions</h4>
    <p>This is the description</p>
  </div>
  <div class="col-md-4 col-sm-12 mtb15">
    <h4>Distributed Ledgers</h4>
    <p>This is the description</p>
  </div>
  <div class="col-md-4 col-sm-12 mtb15">
    <h4>Blockchain Integrity</h4>
    <p>This is the description</p>
  </div>
  <div class="col-md-4 col-sm-12 mtb15">
    <h4>Mining Blocks</h4>
    <p>This is the description</p>
  </div>
</div>
