/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/scss/bootstrap';
@import 'sass/variables';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.top-pad {
  padding-top: 0.75em;
}

.alert-success p,
.alert-info p,
.alert-warning p,
.alert-danger p {
  margin: 0;
  padding: 0;
}
